In [34]:
import pymongo as mg
import pandas as pd

In [35]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [36]:
database = client['study_data_analytics']

In [37]:
collection = database['collect_update']

In [38]:
cursor_data= collection.find({})

In [39]:
df_collect_update = pd.DataFrame(list(cursor_data))
df_collect_update[:2]

                        _id   name  age   city
0  65012a719e5edbabc3408d89  Alice   26  Seoul
1  65012a719e5edbabc3408d8a    Bob   30  Busan

In [40]:
from datetime import datetime
df_collect_update['update'] = datetime.now()
df_collect_update[:2]

                        _id   name  age   city                     update
0  65012a719e5edbabc3408d89  Alice   26  Seoul 2023-09-13 13:13:03.290649
1  65012a719e5edbabc3408d8a    Bob   30  Busan 2023-09-13 13:13:03.290649

In [41]:
collection_new = database['collect_update_new']
dict_collect_update =  df_collect_update.to_dict(orient='records') #dictionary로 만들기. 
result = collection_new.insert_many(dict_collect_update)

In [43]:
result.inserted_ids

[ObjectId('65012a719e5edbabc3408d89'),
 ObjectId('65012a719e5edbabc3408d8a'),
 ObjectId('65012a719e5edbabc3408d8b'),
 ObjectId('65012ac1a19dfdced3b64cab'),
 ObjectId('65012ac1a19dfdced3b64cac'),
 ObjectId('65012ac1a19dfdced3b64cad'),
 ObjectId('650130981742c9385ccc26ed'),
 ObjectId('650130981742c9385ccc26ee'),
 ObjectId('650130981742c9385ccc26ef')]