## 감성사전에 의한 감성분석.

### 감성사전 가져오기

In [4]:
import pandas as pd

In [12]:
df_positives = pd.read_csv('../../datasets/pos_pol_word.txt', delimiter='\t')
df_positives = df_positives[15:] #감성 사전에 불필요한 line삭제 
df_positives[:3]

       출처
15    (-;
16   (^^)
17  (^-^)

In [13]:
df_negatives = pd.read_csv('../../datasets/neg_pol_word.txt', delimiter='\t')
df_negatives = df_negatives[15:] #감성 사전에 불필요한 line삭제 
df_negatives[:3]

      출처
15    가난
16  가난뱅이
17  가난살이

### 문장에 점수 적용(긍/부정)'
- 긍/부정 단어 count 갯수만큼 확인시작!

In [20]:
comment = '코로나19의 여파로 전 세계 교사들과 학생들 모두 혼란스러운 시기를 보내고 있습니다.어려움 속에서도 학생들을 위해 안간힘을 쓰고 있는 모든 선생님들에게, 응원과 박수를 함께 보냅니다.'

In [23]:
#긍정단어 확인 
for positive_word in df_positives['출처']:   # 해당부분이 있는지 확인하기
    if positive_word in comment:       #해당 comment에 positive_word 있는지 확인. 
        print('positive word in comment : {0}'.format(positive_word))
#부정단어 확인 
        
for negative_word in df_negatives['출처']:
    if negative_word in comment:
        print('negative word in comment : {0}'.format(negative_word))

positive word in comment : 운
positive word in comment : 함께
negative word in comment : 어려움
negative word in comment : 해
negative word in comment : 혼란스러운