In [1]:

import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd

In [2]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### X가 범주형, Y가 범주형:
 - 독립성이 강하다(관계성이 없다)
 - 다른 사람과 관계를 안한다는 말
 - 주로 독립성을 증명. 
 - 아래 해당 두개의 변수를 선정 
 - 선점 변수 :  type_of_contract(계약 유형), cancellation (해약 여부)
 - 분석 내용 :  계약 유형에 따라 해약 여부가 달라지는가 ?
    - 귀문가설: 계약 유형에 따라 해약 여부가 달라지지 않음
    - 대립가설: 계약 유형에 따라 해약 여부가 달라진다
 - 분석 결론 (기준: P-value 0.05)확률에 대한 값
    - 통계 결론: 값이. 0.05보다 작아서 대립가설이 참이다. 
    - 사실 결론: 계약 유형에 따라 해약 여부가 달라진다

In [14]:
df_TOCC[['type_of_contract' , 'cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [15]:
df_TOCC_category = df_TOCC[['type_of_contract' , 'cancellation']]

In [20]:
#피봇 테이블로 현재 상태값을 보기로함. 
df_TOCC_category_pivot = pd.pivot_table(data=df_TOCC_category
               , index='type_of_contract', columns='cancellation'
               , aggfunc=len)
df_TOCC_category_pivot
# 결과 렌탈이 많고 [多] 멤버십이 상대적으로 적다.[少]

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [21]:
import scipy
scipy.__version__
import scipy.stats as stats

In [22]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True)

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))